@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>E-Commerce
    </title>
    <link href="../wwwroot/css/site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Poppins:wght@700&display=swap" rel="stylesheet" />
</head>
<body>

    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="logo.png" alt="">
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Buy</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
                <div class="icon">
                    <i class="fa-solid fa-question"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Sen de al ! <br> <span> Sen de kazan !  </span> </h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos exercitationem quaerat, quo quae illum dolores! </p>
                    <a href="#" class="btn"> Hemen Başla </a>
                </div>
                <div class="col-2">
                    <div class="box">


                        <video src="~/lib/img/shopping.mp4"> </video>
                        <img src="~/lib/img/world.jpg" alt="">

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>